#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_PutinCoind += debian/examples/*
DEB_INSTALL_MANPAGES_PutinCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix PutinCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f PutinCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake PutinCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/PutinCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/PutinCoind
binary-post-install/PutinCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/PutinCoin-qt
